.nav-bar {
    width: 100%;
    height: 15vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 15%;
    height: 50%;
    position: relative;
    z-index: 3;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 3;
}

.left-side {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.lang {
    width: 60%;
}

#lang {
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
    font-style: normal;
    color: white;
    background-color: transparent;
    border-radius: 0.4rem;
    width: 100%;
    padding: 10px;
}

#lang option {
    color: black;
}

@media (max-width: 600px) {
  #lang select {
    padding: 4px;
    font-size: 12px;
    max-width: 50px; /* Forces it to squeeze narrow */
  }
}


.sign-in > button{
    font-family: "Poppins", sans-serif ;
    font-weight: 600;
    font-style: normal;
    color: white;
    background-color: #e50914;
    width: 100%;
    border: #e50914 solid;
    border-radius: 0.4rem;
    padding: 7px 20px;
    white-space: nowrap;
    flex-shrink: 0; 
}